
    <section class="p-3 bg-dark">
        {{#if loggedIn}}
        
        {{else}}
        <img src="./images/hero.jpg" alt="">
        {{/if}}
    </section>

{{#if loggedIn}}
<h2>Places I've visited</h2>
<ol class="visited-list">
  <li>
    <article class="">
      <div class="title">
        <a href="{{visited_location}}" target="_blank">{{title}}</a>
        <span>({{visited_location}})</span>
      </div>
    </article>
  </li>
</ol>

<h2>Places I dream of visiting</h2>
<ol class="dream-list">
  <li>
    <article class="">
      <div class="title">
        <a href="{{dream_location}}" target="_blank">{{title}}</a>
        <span>({{dream_location}})</span>
      </div>
    </article>
  </li>
</ol>
{{/if}}