{{!-- {{#if loggedIn}} --}}

    <section class="p-3 bg-dark text-light">
      <h2>Places I've visited</h2>
    </section><br>

<article class="p-4">
<!--Answers to visited question when logged in-->
<div class="log-container">
    <div class="card-header">
        <ul class="visited list-inline">
            <li class="list-inline-item">
                <p>Location: {{location}}</p>
                <p>Departure Date:{{dateOfDeparture}} </p>
                <p>Return Date:{{returnDate}} </p>
                <p>Would I return?{{wouldTravelAgain}}</p>
                <p>Mode of Transportation:{{transportation}}</p>
                <p>My Experience:{{tripComment}}</p>
            </li>
        </ul>
    </div>
</div>
</article>

<!--if not logged in-->
{{!-- {{else}} --}}
<a href="/login">Please login to view your trip log.</a>
{{!-- {{/if}} --}}